# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extension build artifacts
*.so

# Virtual env
venv/
.venv/
env/
ENV/
.env/

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db
